img {
    width: 100%;
}

img.rotate-on-hover {
  transition: transform 0.5s;
}

img.rotate-on-hover:hover {
  transform: rotate(360deg);
}

.comp1 {
    display: flex;
    border: 2px solid blue;
    width: 500px;
}